<footer>

  <div class="contenedor-logotipo">
    <a routerLink="/" fragment="home">
      <img src="img/imgLogo.webp" alt="logotipo">
    </a>
    
    <div class="contenedor-redes-sociales">
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-linkedin"></i>
      <i class="fa-brands fa-x-twitter"></i>
    </div>
  </div>

  <div class="contenedor-navegacion-footer">
    <h3>Menú de navegación</h3>
    <a routerLink="/" fragment="home" >Inicio</a>
    <a routerLink="/" fragment="services">Servicios</a>
    <a routerLink="/" fragment="contact">Contacto</a>
  </div>

  <div class="contenedor-privacidad">
    <span>© 2025 Grupo Consultor Atenas - Todos los derechos reservados</span>
    
    <a routerLink="/privacidad">Aviso de privacidad</a>
  </div>

</footer>
