section#contact{
  padding:0px 20px 20px 20px;
}

section#contact h2{
  text-align: center;
  margin:20px 40px;
}

section#contact h3{
  text-align: center;
}

form{
  display:flex;
  flex-direction: column;
  gap:12px;
}

.input-mensaje{
  min-height: 80px;
  resize:none;
}

.datos-contacto{
  display:flex;
  flex-direction: column;
  gap:22px;
}

.datos-contacto .input-mensaje{
  min-height: 200px;
  resize: none;
}

.datos-contacto span{
  font-weight: 800;
}

.datos-contacto .email-info, .datos-contacto .telefono-info{
  display:flex;
  justify-content: center;
}

.contenedor-informacion-adicional{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap:20px;
}

.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

@media screen and (min-width: 800px){

  .contenedor-seccion-contacto{
    display:flex;
    justify-content: space-around;
    align-items: center;
    gap:22px;
  }

  .contenedor-seccion-contacto > *{
    flex:1 1 calc(50% - 50px);
  }

  .datos-contacto .email-info,.datos-contacto .telefono-info{
    font-size:1.1rem;
}

}